name: Java CI-CD with Gradle

on:
  push:
    paths:
      - 'patches/**'
      - 'gradle.properties'
      - 'gradle/wrapper/gradle-wrapper.properties'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - '.gitea/**'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: "Pull & Checkout"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: "Set up JDK 17"
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'
          cache: 'gradle'
      - name: "Config Git"
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "actions"
      - name: "Apply Patches"
        run: ./gradlew applyPatches
      - name: "Build Mojmap"
        run: ./gradlew createMojmapPaperclipJar
      - name: "Copy jar to staging"
        run: mkdir staging && cp build/libs/*.jar staging
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ env.RELEASE_VERSION }}"
          prerelease: false
          title: "Release ${{ env.RELEASE_VERSION }}"
          files: |
            staging/*.jar